* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ADD8E7;
  padding: 10px 0;
  display: flex;
}

footer {
  padding-top: 15px;
}

.bottom-footer .container {
  min-height: 50px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0px 5px;
}

.top-footer {}

.bottom-footer {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/*********Tools**********/
.container {
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.box {
  align-items: center;
  justify-content: space-between;

}

.sm-container {
  min-width: 800px;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
}

.big-container {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
}

.box-height {
  min-height: 400px;
}

.margin {
  margin: 25px auto;
}

.m-0 {
  margin: 0;
}

/*****Padding*******/
.pxy-5 {
  padding: 5px 5px;
}

.pyt-8 {
  padding-top: 8px;
}

.pyb-20 {
  padding-bottom: 20px;
}

.py-30 {
  padding: 30px 0px;
}


/******Border settings*******/
.border {
  border: 2px dotted;
}

.bd-black {
  border-color: black;
}

.bd-white {
  border-color: #fff;
}

/******Colums size********/
.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

/******Text alignment*******/
.t-center {
  text-align: center;
}

.t-end {
  text-align: end;
}

/*****Background colors*****/
.bg-yellow {
  background-color: #DAA51E;
}

.bg-blue {
  background-color: #00018B;
}

.bg-pink {
  background-color: #EF82ED;
}

.bg-lightblue {
  background-color: #1E90FF;
}

.bg-lightpink {
  background-color: #FFC0CA;
}

.bg-gray {
  background-color: #D3D3D3;
}

.bg-green {
  background-color: #218B21;
}

.bg-darkgray {
  background-color: #23272A;
}

.bg-salmon {
  background-color: #F08180;
}

.bg-aqua {
  background-color: #20B3AA;
}

.bg-lightgreen {
  background-color: #7FFFD4;
}

.bg-white {
  background-color: #fff;
}